body {
    width: 450px;
    font-family: Arial;
    padding: 10px;
}

.video {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 8px;
}

.url {
    word-break: break-all;
    font-size: 12px;
    margin-bottom: 8px;
}

button {
    cursor: pointer;
}